/* /*Menu navbar * */
.navbar {
    transition: all 0.4s;
    display: flex;
    justify-content: space-evenly;
}

.navbar .nav-link {
    color: coral;
    margin-right: 10px;
   
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #333333;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: white;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: coral;
    text-decoration: none;
    
}

.navbar.active .navbar-brand {
    color:coral;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

/* Bounce and hover effects */
.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }

.navbar-company-logo {
    width: 15%;
    height: 10%;
}
.navbar-company-logo-text{
    width: 35%;
    height: 30%;
}

/* Carousel-area */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  .carousel-pic {
      filter: contrast(85%);
  }

/* Fliping cards */
.flip-card-container {
  height: 100vh;
  background: url('./assets/vycos-logo.png') no-repeat center;
  display: flex;
  justify-content: space-evenly;
}


.scene {
    width: 1000px;
    display:flex;
    justify-content: space-evenly;
    perspective: 800px;
  }
  .scene .card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
  }
  .scene .card:hover {
    transform: rotateY(180deg);
  }
  .scene .card .card__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  }
  .scene .card .card__face img {
    width: 240px;
    height: 300px;
    object-fit: cover;

  }
  .scene .card .card__face--back {
    transform: rotateY(180deg);
  }
  






#card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    font-weight: bolder;
    color:white ;
}
#card-text {
    text-align: center;
    color: white;
}
.card-detail {
    background-color: coral;
    width: 230px;
    height: 300px;
    border-radius: 5px;
}
.card-detail:hover {
    filter: brightness(85%);
    transform: scale(1.1);
    transition: 0.4s;
    background-color: chocolate;
}
#title-card-sample {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    line-height: 45px;
}
#card-description {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    margin: 20px;
    
}
.custom-icon {
    margin-left: 90px;
    margin-top: 20px;

}
.company-message {
    margin: 20px;
}
#welcome-message-image {
    border-radius: 5px;
    filter: contrast(88%);
    opacity: 90%;
}
.welcome-message {
    text-align: center;
    font-family: 'Poppins',sans-serif;
    
}
#welcome-message-title-colored {
    color: coral;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}
#welcome-message-description {
    color: grey;
    margin-top: 30px;
    font-size: 15px;
}
#service-list-area-title-main {
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif; 
    color: coral;
}
#service-list-area-title-secondary {
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}
.service-list-area-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}
.services-list-area {
    align-items: center;
    margin-left: 90px;
}
.btn-outline-info:hover {
    background-color: coral;
    color: white;
}
header {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}
header h1 {
	font-size: 60px;
}

.counters {
    font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 40px 20px;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		border-bottom: 1px lightskyblue solid;
		padding-bottom: 20px;
	}
}

.footer {
    background-color: #333333;
}
.footer-container {
    margin: 40px;
}
.footer-general-column {
    text-align: left;
    font-size: large;
    color: white;
    padding-left: 30px;

}


#footer-copyrigth-text {
    text-align: center;
    margin-bottom: 10px;
}
.footer-copyrigth-area {
    width: 100%;
    background-color: coral;
}
.footer-general-title {
    text-align: center;
}




/* ================================================================= About Page */

.about-main-area-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-area-container-title {
    font-family:'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: coral;
    text-align: center;
    margin-bottom: 20px;
}
.main-area-container-picture {
    border-radius: 10px;
    filter: contrast(90%);
    opacity: 85%;
    height: 300px;
    width: 100%;
}
.main-are-continer-title-column {
    color: grey;
    font-family:'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
}

/* team-area */

.main-area-team-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-image: url('./assets/vycos.jpg');
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
}
.main-area-team-container-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 10px;
    color: coral;
    font-weight: bold;
    letter-spacing: 5px;
   
}
.main-area-team-container-card-image {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.main-area-team-container-card-name {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: coral;
    font-weight: bolder;
    
}
.main-area-team-container-card-information {
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

/* testimonials */
.testimonial-area-title {
    font-size: 40px;
    text-align: left;
    color: midnightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}
.testimonial-area-list {
    margin-bottom: 5px;
    font-size: 17px;
}
.testimonial-area-text {
    font-family:"Poppins",sans-serif;
    color: darkgrey;
    font-size: 16px;
}
.testimonial-area-author {
    color: coral;
    font-size: 20px;
}
.testimonial-area-subtitle {
    color: dimgray;
    font-size: x-large;
    margin-bottom: 10px;
    font-weight: 600;
}

/* Services page */
/* 
Card-styling */
.services-card-area {
    display: flex;
    justify-content:space-evenly;
}
.card-body-service-icon {
    padding: 30px;
 
    display: inline-block;
    border-right: 30px solid coral;
    border-bottom: 40px solid coral; 
    position: relative;
  
    height: 0;
    /* line-height: 50px; */
}
.service-truck-icon {
    position: absolute;
    bottom: -35px;
    right: 80px;
}
.services-card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 10px;
    color: coral;
}

.service-area-picture-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.service-area-picture-conainer-phone {
    margin-top: 25%;
    font-size: 45px;
    margin-left: 30%;
}
.service-area-picture-container-subtitle {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 5px;
}
.service-card-area-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    color: midnightblue;
    text-align: center;
    margin: 20px;
    text-shadow: darkgrey;
}

.service-page-ourmission-area {
    margin-bottom:30px;
}
.service-page-ourmission-area-title {
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
    font-weight: 500;
}
.service-page-ourmission-area-text {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
}
.services-mission-title {
    font-size: 45px;
    color: midnightblue;
    font-weight: 500;
    margin-bottom: 20px;
}
.service-mission-second-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
    margin-bottom: 20px;
    font-size: 16px;
}
.contact-page-title {
    font-size: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: coral;
    text-align: center;
    margin-bottom: 15px;
  
}
.contact-page-email-form {
    margin-bottom: 20px;
}

.driver-page-owner-container {
    position: relative;
}

.driver-page-owner-operator-title {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 135px;
    text-shadow: 4px 4px black;
    position: absolute;
    top: 135px;
    left: 200px;
    
}

.button-owner-page {
    width: 200px;
    height: 50px;
    background-color: coral;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    bottom: 150px;
    left: 40%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  
}
#driwer-page-owner-operator-subtitle {

    color: white;

    /* font-size: 20px; */
}
.owner-operator-main-area-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgrey;
    font-size: large;
}
.owner-operator-main-area-eligibility {
    background-color: gray;
    color: white;
    width: 250px;
    height: 50px;
    margin-top: 50px;
}

.panel-title:hover {
   color: black;
}
.panel-heading {
    height: 65px;
}
